.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50;
    background-color: #BC8049;
    text-align: center;
}

.paragraph__footer {
    color: white;
}

.icone__footer {
    display: none;
}

@media screen and (min-width: 768px) {
    .rodape {
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .icone__footer {
        display: block;
        width: 28px;
        margin-left: 1rem;
    }
}