.lista__musicas__favoritas {
  text-align: center;
  margin-top: 3rem;
}

.conteudo__lista__musicas {
  padding: 1rem;
}

.musicas__favoritas {
  color: white;
  margin-bottom: 1rem;
}

#myBtn {
  background-color: #BC8049;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  border: 2px solid #BC8049;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .secao__playersMusic {
    margin-top: 2rem;
  }

  .lista__musicas__favoritas {
    margin: 2rem auto;
  }

  .conteudo__lista__musicas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 1920px) {
  .teste {
    display: flex;
  }

  .lista__musicas {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .lista__1 {
    width: 25%;
  }

  .lista__2 {
    width: 25%;
  }

  .lista__3 {
    width: 25%;
  }

  .musicas__favorita {
    font-size: 16px;
  }

  .icones_plataformas {
    width: 20px;
  }

  .secao__musica__botao {
    width: 25%;
  }

  #myBtn {
    display: none;
  }
}