@import url(../css/header.css);
@import url(../css/sidenav.css);
@import url(../css/players_musicas.css);
@import url(../css/footer.css);

@font-face {
    font-family: albula;
    src: url(..fonts/serpentype-albula-pro-bold.otf);
}

html {
    font-size: 16px;
}

body {
    background-color: #DBA365;
    font-family: albula;
}

.musicas__favorita {
    font-size: 18px;
    color: white;
    margin-bottom: 0.5rem;
}

.icones_plataformas {
    padding: 0 0.5rem;
    width: 28px;
    margin-bottom: 1rem;
}
